form {
    display: flex;
    width: 20%;
    flex-direction: column;
    background-color: var(--menue-bg);
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    padding: 30px;
    border-radius: 10px;
}

img#logo {
    position: fixed;
    width: 125px;
    top: 0;
    left: 0;
    margin: 20px;
}

form h1 {
    text-align: center;
    margin-bottom: 10px;
}

form button {
    height: 30px;
    border-radius: 10px;
    font-weight: 700;
    transition: all .2s;
    border: 2px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
}

form button:hover {
    cursor: pointer;
    color: black;
    background-color: var(--accent-color);
    border: none;
}

body {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../../res/bg/login.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: "Montserrat"; */
}