@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-color: #f5b947;
    --accent-color: hsl(220 30% 52% / 1);
    --accent-color-1: #1f283a;
    --accent-color-2: hsl(220, 30%, 30%);
    --accent-color-3: hsl(220, 10%, 50%);
    --color-danger: #e74c3c;
    --color-warning: #ffaf1a;
    --color-go: #008705;
    --color-fire: #b50000;
    --color-police: #001fb9;
    --color-medical: #00a329;
    --background-color: #0d182a;
    --text-color: #99a1ad;
    --font-family: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
html,body{
    scroll-behavior: smooth;
}
/* buttons */
.btn{
    background-color: var(--accent-color-1);
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: var(--accent-color-2);
}
.btn-danger{
    background-color: #e74c3c;
}
.btn-danger:hover{
    background-color: hsl(6, 78%, 40%);
}
.btn-warning{
    color: var(--accent-color-1);
    background-color: hsl(39, 100%, 55%);
}
.btn-warning:hover{
    background-color: hsl(39, 100%, 70%);
}
.btn-sub{
    box-sizing: border-box;
    background-color: transparent;
    outline: solid 2px var(--primary-color);
    outline-offset: -2px;
    color: var(--primary-color);
}
.btn-sub:hover{
    outline: none;
}
.btn-dissabled{
    cursor:wait;
    background-color: #99a1ad !important;
    color: hsl(216, 11%, 30%) !important;
    outline-color: #99a1ad !important;
}
.btn-dissabled:hover{
    cursor:wait;
    background-color: #99a1ad ;
    color: hsl(216, 11%, 30%) ;
}

/* input */
.input-field{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--accent-color-3);
    border-radius: 5px;
    font-size: 16px;
}
.input-field[type="password"]{
    /* font-family: 'Courier New', Courier, monospace; */
}
select{
    cursor: pointer;
}
.input-field:focus{
    outline: 1px solid var(--accent-color-2);
}
.input-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
label{
    margin-left: 15px;
    padding: 2px;
    margin-bottom: -21px;
    display: block;
    background-color: white;
    color: var(--accent-color-2);
    z-index: 5;
}

/* form */
form{
    width: 50vw;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

/* nav */
nav{
    display: flex;
    background-color: var(--accent-color-1);
    color: white;
    padding: 0 20px;
    box-shadow: 0 2px 9px hsl(220deg 10% 50% / 39%);
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100vw;
    position: fixed;
    z-index: 10;
}
nav a{
    display:flex;
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 2px;
    width: 10vw;
    font-size: 16px;
    height: inherit;
    justify-content: center;
    align-items: center;
}
nav a:hover{
    background-color: hsl(220, 30%, 10%);
    color: white;
    transition: background-color 0.3s ease;
}

/* footer */
footer.site-footer{
    background-color: var(--accent-color-1);
    color: white;
    text-align: center;
    height: 50px;
    width: 100vw;
}

/* report card */
.report-card{
    display: flex;
    border: 1px solid var(--accent-color-3);
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto;
    width: 30vw;
    height: 250px;
    background-color: white;
    box-shadow: inset 0 2px 6px 0px #00000033;
    transition: box-shadow 0.3s ease;
    align-items: center;
    justify-content: center;
}
.card-fire{
    border-left: 4px solid var(--color-fire);
}
.report-card:hover{
    box-shadow: 0 3px 5px 0px #00000026;
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.report-container {
  display: grid;
  grid-template-columns: 1fr 0.6fr 1.4fr;
  grid-template-rows: 0.8fr 1.5fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "discription discription image"
    "action action image";
  align-content: center;
}
.discription {
    grid-area: discription;
    padding: 5px;
}
.image {
    grid-area: image;
    height: 100%;
    width: 100%;
    transform-origin: right;
    position: relative;
    left: 0;
    background-image: url('https://placeholderimagegenerator.com/wp-content/uploads/2024/12/Light-placeholder-image-circule_png_.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}
.action { 
    grid-area: action; 
}
.tag{
    padding: 10px;
    border-radius: 23px;
    color: white;
    font-weight: bold;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tag-type{
    width: 100px !important;
}
.r-s{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
.r-s-o{
    background-color: var(--color-danger);
}
.r-s-p{
    background-color: var(--color-warning);
}
.r-s-c{
    background-color: var(--color-go);
}
.r-fire{
    background-color: var(--color-fire);
}
.r-poli{
    background-color: var(--color-police);
}
.r-medi{
    background-color: var(--color-medical);
}

/* toast */
#toast{
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color-1);
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}
#toast.show{
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}
.t-warn{
    color: var(--color-warning);
}
.t-success{
    color: var(--color-go);
}
.t-error{
    color: var(--color-danger);
}
#toast-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 8px;/* 
    animation: progressBar 2.5s linear forwards; */
}
@keyframes progressBar {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}