body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: clip;
    align-items: center;
    background-image: url('./res/bg/MarkusM.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
section{
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20vw;
}

.cont {
    padding: 50px 40px;
    border-radius: 17px;
    box-shadow: 0 0 8px 2px #18bc9c94;
    width: 100%;
    height: 60%;
    background-color: #21304f7a;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
section.even{
    background-color: var(--accent-color-2);
}
section.even p{
    color: var(--text-color);
}
.container{
    width: 100%;
    /* margin: auto; */
    padding-top: 50px;
}
.cont h1,h2,h3{
    color: var(--primary-color);
    margin: 13px 0;
}
article p {
    font-size: 12pt;
}
.cont p{
    color: var(--accent-color-1);
    font-size: 18px;
    line-height: 1.6;
}

article{
    margin: 20px 34px;
    padding: 25px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: inset 0 0 20px #ffffff4a;
    /* background-color: white; */
}

.features {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
}
.features::-webkit-scrollbar {
    display: none;
}
#features-grid {
    display: flex;
    width: max-content;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}