@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}
:root{
    --main-color: #80f0ff;
    --secondary-color: #00b8e6;
    --accent-color: #ffcd00;
    --text-color: #000000;
    --bg-color: #ffffff;
    --menue-bg: #ffffff87;
}