body{
    display: grid;
    grid-template-rows: 20vh 80vh;
    width: 100vw;
    height: 100vh;
    /* overflow: clip; */
}

#topdbar {
    display: grid;
    grid-template-columns: auto auto auto;
}

img {
    height: 90%;
}

#middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
}

#content {
    display: grid;
    grid-template-columns: 30vw 70vw;
    height: 100%;
}

#topbar {
    display: grid;
    grid-template-columns: 20vw 40vw 40vw;
    grid-template-rows: 20vh;
    width: 100%;
    align-items: center;
    justify-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vw;
}

#buttons .active {
    border-color: var(--primary-color) !important;
}

.btn {
    border: solid 3px transparent !important;
}

#cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bi{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: var(--accent-color-1);
    color:var(--primary-color);
    display: flex;
    text-align: center;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
input[type="radio"]{
    display: none;
}
#EmergencyHolder label{
    background-color: transparent;
    padding: 5px;
    margin: 0;
    height: max-content;
    display: flex;
    align-items: center;
    border: solid transparent 2px;
    cursor: pointer;
}
#EmergencyHolder{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
:checked + label{
    border-color: var(--primary-color) !important;
}
.bi:hover {
    background-color: var(--accent-color-2);
}